
@import url('./timer.css');
@import url('./snackbar.css');

 a {display: flex;
    justify-content: space-around;
    font-size: 3rem;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
 }